body{
    box-sizing:border-box;
}
.App{
    margin:10px;
    padding: 10px; 
}

.WeatherNav{
    display:flex;
    flex-direction:row;
    align-content: center;
    justify-content: flex-end;
    margin:20px auto;
    max-width: 1080px;
    width:100%;
}

.WeatherNavItem{
  margin:0 20px;
  padding: 10px;
}

.WeatherNavItem--active{
  background-color: azure;
  color:red;
}