@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

.tempType{
    font-family: 'Montserrat', sans-serif;
    border:none;
    display: inline-block;
    color: gray;
    font-size: 20px;
}
.tempType:hover{
    display: inline-block;
    color: black;
    font-size: 20px;
    text-decoration:underline; 
    font-weight: bolder;
}

.tempType__active{
  text-decoration:underline; 
  font-weight: bolder;
  color:black;
  text-shadow: 1px 1px rgba(97, 96, 96, 0.3);
}

.C{
  border-right:1px solid black;
}
.F{
  border-left:1px solid black;
}


.App{
    margin:10px;
    padding: 10px; 
}

.WeatherContent{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
  position: absolute;
  left: 0;
}

.WeatherContentHead{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}

.WeatherMainContent{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin: 30px 0 auto;
  flex-wrap: wrap;
}

.WeatherItem{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:0 10px auto;
  padding: 20px;
  border-right: 1px solid black;
}

.weatherIcon{
  display: block;
  margin: 30px auto;
}

.WeatherNav{
    display:flex;
    flex-direction:column;
    align-content: space-between;
    justify-content: flex-end;
    float: left;
    position: absolute;
    left: 30px;
}

.WeatherNavItem{
  margin:20px 0;
  padding: 10px;
  transition:background-color 500ms ease;
}

.WeatherNavItem--active{
  background-color: azure;
  color:red;
}